.container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.container .buttonContainer{
    width: 100%;
}
.container .buttonContainer .button{
    background: rgb(197, 197, 197);
    padding: .5rem 1.5rem;
    width: 30%;
    margin: 5px auto;
}
.container .buttonContainer .button a{
    font-size: 20px;
    text-decoration: none;
}