@import "./reset.css";

.container{
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 43%, rgba(253,29,29,1) 87%, rgba(252,176,69,1) 100%);
    font-size: 2.5rem;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.container .linkSection{
    z-index: 100;
    margin: 0 auto;
    color: white;
    border: .8rem solid black;
    border-radius: 25px;
    padding: 1rem 1rem .5rem 1rem;
    width: 320px;
    height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.container .linkSection .buttonContainer .header{
    font-family: 'Cantarell', sans-serif;
    background: transparent;
    border-radius: 50px;
    color: white;
    margin: 0 auto;
    width: 10rem;
}
.container .linkSection .buttonContainer .header img{
    width: 100%;
}
.container .linkSection .buttonContainer .singleElBtn{
    padding: .5rem 1rem;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    background: transparent;
    border: 3px solid white;
    text-decoration: none;
}
.container .linkSection .buttonContainer .singleElBtn h1{
    color: white;
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 2.5;
}
.container .linkSection .buttonContainer .button{
    /* PADDING-RIGHT HAS EXTRA 1REM TO HELP CENTER THE 2ND ELEMENT */
    padding: .5rem 2rem .5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-items: center;
    margin: 1rem 0 0 0;
    border-radius: 50px;
    cursor: pointer;
    background: transparent;
    border: 3px solid white;
    text-decoration: none;
    color: white;
}
.container .linkSection .buttonContainer .button h1{
    color: white;
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: 2.5;
}
.container .linkSection .buttonContainer .button i{
    text-decoration: none;
}
.container .linkSection .footer{
    margin: 30px auto;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Cantarell', sans-serif;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.container .linkSection .footer i{
    margin-right: .25rem;
    color: rgb(2, 163, 2);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~TABLET~~~~~~~~~~~~~~~~ */
@media only screen and (max-device-width: 1050px) {
    .container .linkSection{
        border: none;
        border-radius: 0;
        padding: 0 1rem .5rem 0;
        width: 80vw;
        height: 100vh;
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    .container .linkSection .buttonContainer .header{
        width: 35vw;
        margin-bottom: 3rem;
    }
    .container .linkSection .buttonContainer .singleElBtn{
        padding: 1.5rem 1rem;
        margin: 1rem 0 0 1rem;
        border: 7px solid white;
    }
    .container .linkSection .buttonContainer .button{
        padding: 1.5rem 5.5rem 1.5rem 1.5rem;
        margin: 1rem 0 0 1rem;
        border: 7px solid white;
    }
    .container .linkSection .footer{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~TABLET LANDSCAPE~~~~~~~~~~ */
@media only screen and (max-device-width: 1050px) and (orientation:landscape){
    .container{
        height: 55rem;
        justify-content: start;
    }
    .container .linkSection{
        font-size: 1.5rem;
        width: 50vw;
    }
    .container .linkSection .buttonContainer .header{
        width: 12rem;
    }
    .container .linkSection .buttonContainer .singleElBtn{
        padding: 1rem;
        border: 4px solid white;
    }
    .container .linkSection .buttonContainer .button{
        padding: 1rem 3rem 1rem 1rem;
        margin: 1rem 0 0 1rem;
        border: 4px solid white;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~MOBILE~~~~~~~~~~~~~~~~ */
@media only screen and (max-device-width: 480px) {
    .container .linkSection{
        border: none;
        border-radius: 0;
        padding: 1rem 1rem .5rem 1rem;
        width: 80vw;
        height: 100vh;
        font-size: 3rem;
    }
    .container .linkSection .buttonContainer .header{
        width: 50vw;
    }
    .container .linkSection .buttonContainer .singleElBtn{
        padding: 1.5rem 1rem;
        margin: 3rem 0 0 1rem;
        border: 7px solid white;
    }
    .container .linkSection .buttonContainer .button{
        padding: 1.5rem 5.5rem 1.5rem 1.5rem;
        margin: 3rem 0 0 1rem;
        border: 7px solid white;
    }
    .container .linkSection .footer{
        margin-bottom: 3rem;
        font-size: 4rem;
    }
}